In [1]:

import pandas as pd
import pandas as pd
df = pd.read_csv('../doit_pandas\data\gapminder.tsv', sep = '\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [2]:
df[:]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [3]:
df[0:2]

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [4]:
df[0:5][["country","year"]]

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972

In [5]:
df[0:-1]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1698     Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623

[1703 rows x 6 columns]

In [9]:
df[1:3]+df[10:15]

   country continent  year  lifeExp  pop  gdpPercap
1      NaN       NaN   NaN      NaN  NaN        NaN
2      NaN       NaN   NaN      NaN  NaN        NaN
10     NaN       NaN   NaN      NaN  NaN        NaN
11     NaN       NaN   NaN      NaN  NaN        NaN
12     NaN       NaN   NaN      NaN  NaN        NaN
13     NaN       NaN   NaN      NaN  NaN        NaN
14     NaN       NaN   NaN      NaN  NaN        NaN

In [10]:
df[[1:3]]

SyntaxError: invalid syntax (<ipython-input-10-a7fbba284b92>, line 1)

In [12]:
(df[1:3]+df[10:15])[["country","pop"]]

   country  pop
1      NaN  NaN
2      NaN  NaN
10     NaN  NaN
11     NaN  NaN
12     NaN  NaN
13     NaN  NaN
14     NaN  NaN

In [13]:
df.loc

In [14]:
df.loc([1,3])

TypeError: unhashable type: 'list'

In [15]:
dir(df.loc)

['__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_align_frame',
 '_align_series',
 '_convert_for_reindex',
 '_convert_range',
 '_convert_scalar_indexer',
 '_convert_slice_indexer',
 '_convert_to_indexer',
 '_convert_tuple',
 '_exception',
 '_get_label',
 '_get_listlike_indexer',
 '_get_loc',
 '_get_partial_string_timestamp_match_key',
 '_get_setitem_indexer',
 '_get_slice_axis',
 '_getbool_axis',
 '_getitem_axis',
 '_getitem_iterable',
 '_getitem_lowerdim',
 '_getitem_nested_tuple',
 '_getitem_scalar',
 '_getitem_tuple',
 '_handle_lowerdim_multi_index_axis0',
 '_has_valid_positional_setitem_indexer',
 '_has_valid_setitem_indexer',
 '_has_valid_tuple',
 '_is_nested_tuple_indexer',
 '_is_scalar_access',
 '_multi_take',
 '_multi_take_opportunity',
 '_ndim',
 '_setitem_with_indexer',
 '_setitem_with_indexer_missing',
 '_slice',
 '_tuplify',
 '_valid_types',
 '_validate_key',
 '_validate_read_indexer',
 'axis',
 'name',
 'ndim',
 'obj']

In [16]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [17]:
df.loc[2:4]

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [18]:
df.loc[2,3]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [3] of <class 'int'>

In [19]:
df.loc[[2,7]]

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
7  Afghanistan      Asia  1987   40.822  13867957  852.395945

In [21]:
df.loc[[2,7]][["country","year"]]

       country  year
2  Afghanistan  1962
7  Afghanistan  1987

In [25]:
df.loc[df.shape[0]-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [26]:
df.loc[len(df)-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [27]:
df.index.stop

1704

In [28]:
df.loc[len(df.index)-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [29]:
df.tail(1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [30]:
df.tail(1).index

RangeIndex(start=1703, stop=1704, step=1)

In [40]:
df.tail(1).country

1703    Zimbabwe
Name: country, dtype: object

In [32]:
type(df.tail(1))

pandas.core.frame.DataFrame

In [41]:
type(df.iloc)

pandas.core.indexing._iLocIndexer

In [42]:
df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [43]:
df.iloc[-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [55]:
df.iloc[0:3,[0,2]]

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962

In [56]:
df.loc[0:3,["country","year"]]

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967

In [58]:
df.loc[0:3][["country","year"]]

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967

In [ ]:
["country","year"]