# 직접 해보세요!
## 데이터 연결하기(119쪽)

### 1. concat 메서드로 데이터 연결하기

In [70]:
import pandas as pd

df1 = pd.read_csv('../data/concat_1.csv') 
df2 = pd.read_csv('../data/concat_2.csv') 
df3 = pd.read_csv('../data/concat_3.csv')
print(df1.head)
print('-'*60)
print(df2.head)
print('-'*60)
print(df3.head)

<bound method NDFrame.head of     A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3>
------------------------------------------------------------
<bound method NDFrame.head of     A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7>
------------------------------------------------------------
<bound method NDFrame.head of      A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11>

In [3]:
row_concat = pd.concat([df1, df2, df3]) 
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [5]:
row_concat=row_concat.reset_index()
print(row_concat)

    level_0  index    A    B    C    D
0         0      0   a0   b0   c0   d0
1         1      1   a1   b1   c1   d1
2         2      2   a2   b2   c2   d2
3         3      3   a3   b3   c3   d3
4         4      0   a4   b4   c4   d4
5         5      1   a5   b5   c5   d5
6         6      2   a6   b6   c6   d6
7         7      3   a7   b7   c7   d7
8         8      0   a8   b8   c8   d8
9         9      1   a9   b9   c9   d9
10       10      2  a10  b10  c10  d10
11       11      3  a11  b11  c11  d11

In [8]:
print(row_concat.iloc[3, ])
print(row_concat.iloc[3])
print(row_concat.iloc[3, :])

level_0     3
index       3
A          a3
B          b3
C          c3
D          d3
Name: 3, dtype: object
level_0     3
index       3
A          a3
B          b3
C          c3
D          d3
Name: 3, dtype: object
level_0     3
index       3
A          a3
B          b3
C          c3
D          d3
Name: 3, dtype: object

### 4. 데이터프레임에 시리즈 연결하기

In [19]:
#concat: default, union(axis=0, y축, 수직적 연결)
#이때 연결된 인덱스는 그대로 유지
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])

In [20]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D  new_col    0
0   a0   b0   c0   d0      1.0  NaN
1   a1   b1   c1   d1      1.0  NaN
2   a2   b2   c2   d2      1.0  NaN
3   a3   b3   c3   d3      1.0  NaN
0  NaN  NaN  NaN  NaN      NaN   n1
1  NaN  NaN  NaN  NaN      NaN   n2
2  NaN  NaN  NaN  NaN      NaN   n3
3  NaN  NaN  NaN  NaN      NaN   n4

In [21]:
df4 = df1
#df4['new_col']= 1
df4['new_col']= new_row_series
df4

    A   B   C   D new_col
0  a0  b0  c0  d0      n1
1  a1  b1  c1  d1      n2
2  a2  b2  c2  d2      n3
3  a3  b3  c3  d3      n4

In [35]:
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns=['A', 'B', 'C', 'D']) 
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [44]:
print(pd.concat([df1, new_row_df]))

    A   B   C   D new_col
0  a0  b0  c0  d0      n1
1  a1  b1  c1  d1      n2
2  a2  b2  c2  d2      n3
3  a3  b3  c3  d3      n4
0  n1  n2  n3  n4     NaN

<ipython-input-44-2fee4142b196>:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  print(pd.concat([df1, new_row_df]))

In [40]:
print(df1.append(new_row_df))

    A   B   C   D new_col
0  a0  b0  c0  d0      n1
1  a1  b1  c1  d1      n2
2  a2  b2  c2  d2      n3
3  a3  b3  c3  d3      n4
0  n1  n2  n3  n4     NaN

In [42]:
data_dict = {'A': 'n1', 'B': 'n2', 'C': 'n3', 'D': 'n4'}
print(df1.append(data_dict, ignore_index=True))

    A   B   C   D new_col
0  a0  b0  c0  d0      n1
1  a1  b1  c1  d1      n2
2  a2  b2  c2  d2      n3
3  a3  b3  c3  d3      n4
4  n1  n2  n3  n4     NaN

In [43]:
print(df1.append(new_row_series, ignore_index=True)) #비추 ignore_index 인덱스를 무시(재초기화)

     A    B    C    D new_col    0    1    2    3
0   a0   b0   c0   d0      n1  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1      n2  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2      n3  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3      n4  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN     NaN   n1   n2   n3   n4

# 직접 해보세요!
## 행 1개로 구성된 데이터프레임 생성하여 연결하기(121쪽)

# 직접 해보세요!
## 다양한 방법으로 데이터 연결하기(122쪽)

In [28]:
data_dict={'A':'n1','B':'n2','C':'n3','D':'n4'}
df1.append(data_dict, ignore_index=True)
#df1.append(data_dict, ignore_index=False) #오류

    A   B   C   D new_col
0  a0  b0  c0  d0      n1
1  a1  b1  c1  d1      n2
2  a2  b2  c2  d2      n3
3  a3  b3  c3  d3      n4
4  n1  n2  n3  n4     NaN

In [29]:
data_dict={'A':'n1','B':'n2','C':'n3','E':'n4'}
df1.append(data_dict, ignore_index=True)

    A   B   C    D new_col    E
0  a0  b0  c0   d0      n1  NaN
1  a1  b1  c1   d1      n2  NaN
2  a2  b2  c2   d2      n3  NaN
3  a3  b3  c3   d3      n4  NaN
4  n1  n2  n3  NaN     NaN   n4

### 1. ignore_index 인자 사용하기

In [10]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True) 
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

### 2. 열 방향으로 데이터 연결하기

In [46]:
#axis=1 수평적 연결=조인
col_concat = pd.concat([df1, df2, df3], axis=1) 
print(col_concat)

    A   B   C   D new_col   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0      n1  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1      n2  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2      n3  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3      n4  a7  b7  c7  d7  a11  b11  c11  d11

In [47]:
print(col_concat['A'])
#print(col_concat[['A','B']])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [48]:
#기존 데이터프레임에새로운열 추가
col_concat['new_col'] = ['n1', 'n2', 'n3', 'n4'] 
print(col_concat)

    A   B   C   D new_col   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0      n1  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1      n2  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2      n3  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3      n4  a7  b7  c7  d7  a11  b11  c11  d11

In [59]:
#모든 컬럼 무시 -> 컬럼명 재초기화
print(pd.concat([df1, df2, df3], axis=1, ignore_index=True))
#print(pd.concat([df1, df2, df3], ignore_index=True))

    0   1   2   3   4   5   6   7   8    9   10   11   12
0  a0  b0  c0  d0  n1  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  n2  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  n3  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  n4  a7  b7  c7  d7  a11  b11  c11  d11

In [69]:
df_temp= pd.concat([df1, df2, df3], axis=1, ignore_index=True)
print(df_temp)
print(df_temp.columns)
df_temp.columns=['A', 'B', 'C', 'D','E', 'F', 'G', 'H','A', 'C', 'F', 'H','I']
print(df_temp.columns)

    0   1   2   3   4   5   6   7   8    9   10   11   12
0  a0  b0  c0  d0  n1  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  n2  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  n3  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  n4  a7  b7  c7  d7  a11  b11  c11  d11
RangeIndex(start=0, stop=13, step=1)
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'C', 'F', 'H', 'I'], dtype='object')

### 6. 공통 열과 공통 인덱스만 연결하기

In [79]:
df1 = pd.read_csv('../data/concat_1.csv') 
df2 = pd.read_csv('../data/concat_2.csv') 
df3 = pd.read_csv('../data/concat_3.csv')
df1.columns = ['A', 'B', 'C', 'D'] 
df2.columns = ['E', 'F', 'G', 'H'] 
df3.columns = ['A', 'C', 'F', 'H']
print(df1)
print(type(df1))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
<class 'pandas.core.frame.DataFrame'>

In [73]:
print(df2)
print(type(df2))

    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
<class 'pandas.core.frame.DataFrame'>

In [74]:
print(df3)
print(type(df3))

     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
<class 'pandas.core.frame.DataFrame'>

In [78]:
#하기와 같은 경우 예상치못한 결측치 발생
row_concat = pd.concat([df1, df2, df3]) 
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

<ipython-input-78-5fae6a33bf3c>:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  row_concat = pd.concat([df1, df2, df3])

In [80]:
print(pd.concat([df1, df2, df3], join='inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [81]:
#
#
print(pd.concat([df1,df3], ignore_index=False, join='inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [82]:
df1.index = [0, 1, 2, 3] 
df2.index = [4, 5, 6, 7] 
df3.index = [0, 2, 5, 7]
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [24]:
# axis = 1 로, 여러 데이터 프레임을 연결시킬 때(수평적결합) 주의할 사항은,
# 지정된 여러 데이터프레임의 인덱스 번호가 일치해야 한다. 일치하지 않으면 예상치않았던
# 대량의 결측치가 발생하고,각 데이터프레임의 인덱스 번호를유재하려는 메소드의 성질상,
# 마치 수평이아닌, 수직적 결합의 부작용이 발생하게된다.
col_concat = pd.concat([df1, df2, df3], axis=1) 
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [25]:
#여러 데이터프레임에, join='inner' 수행 시 매게변수의 효과는
#ignore_index=True와 마찬가지로 axis 배개변수의지정방향을 따라서 효과를 냅니다.
# axis = 0 (y축)default-> 수직적 결합(공통 컬럼 열만 찾아서)
# axis = 1(x축)->수평적 결합 (공통 인덱스만 찾아서)
print(pd.concat([df1, df3], axis=1, join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

# 직접 해보세요!
## merge 메서드 사용하기(129쪽)

In [ ]:
#pandas.concat() 메소드와 DataFrame.merge() 메소드의 차이점
# 가. concat()메소드는, 여러 데이터프레임의 연결방향을 조절가능
# 즉, 수평적(axis=1)또는 수직적(axis=0) 결합을 선택
# 나. merge()메소드는, SQL의 join과 같이, 수평적 결합만 수행
# 다. merge()메소드는, 여러 데이터프레임의 수평적 결합 전용 메소드
# 라. merge()메소드는,
# - 디폴드로, 내부에서 inner join 수행
# - merge() 메소드를 호출한 데이터프레임을 기준(left)으로 지정
# - merge() 메소드에 인자로 지정된 데이터프레임을 연결(rigth)대상 데이터프레임으로 지정
# - left 데이터프레임과 rigth 데이터프레임의 지정된 공통 열의 값이 
#   일치하는 행들만 추출하게 됨(연결기준:left 데이터프레임)

In [90]:
person = pd.read_csv('../data/survey_person.csv') 
site = pd.read_csv('../data/survey_site.csv') 
survey = pd.read_csv('../data/survey_survey.csv') 
visited = pd.read_csv('../data/survey_visited.csv')
print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [86]:
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [87]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [88]:
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [91]:
visited_subset = visited.loc[[0, 2, 6], ]
# print(visited_subset)

In [31]:
#site: left (기준) visited_subset: right(연결대상)
o2o_merge = site.merge(visited_subset, left_on='name', right_on='site') 
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [32]:
m2o_merge = site.merge(visited, left_on='name', right_on='site') 
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [33]:
#이후는 수강생님이 알아서 혼자 학습하시오
ps = person.merge(survey, left_on='ident', right_on='person') 
vs = visited.merge(survey, left_on='ident', right_on='taken')

print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [34]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [35]:
ps_vs = ps.merge(vs, left_on=['ident', 'taken', 'quant', 'reading'], right_on=['person', 'ident', 'quant', 'reading'])

In [36]:
print(ps_vs.loc[0, ])

ident_x           dyer
personal       William
family            Dyer
taken_x            619
person_x          dyer
quant              rad
reading           9.82
ident_y            619
site              DR-1
dated       1927-02-08
taken_y            619
person_y          dyer
Name: 0, dtype: object